$primary: #f7941e;
$white-accent: hsl(250, 85%, 97%);
$text-color: #032539;
$font-family-sans-serif: "Poppins", Helvetica, Arial, sans-serif;
$font-size-sm: 0.87rem;
$font-size-base: 0.9rem;
$enable-responsive-font-sizes: true;
$border-radius: 2px;
$border-radius-sm: 2px;
$border-radius-lg: 3px;
$table-cell-padding-y-sm: 0.75rem;
